---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%} Workshop on {{ site.middle_name }}<br>
      <span class="font-weight-bold">Experimental  Design: AI for Science</span>{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>


    <br>

    <br>

    <div class="clearfix">
      <p>

        The workshop focuses on theory and methodology of experimental design and its application to addressing scientific problems, especially in biology.
        We aim to bring experts and junior researchers from diverse backgrounds together, from both academia and industry, to discuss the applications and challenges of AI based experimental design and its application to sciences.

      <!-- <p>We invite researcher in machine learning, control, and dynamical systems to submit their latest works to our workshop. <br> -->
        Topics include but are not limited to (see <strong><a href="/submissions/">Call for Abstracts</a></strong>
        for more details):</p>
      <ul>
        <li> Bayesian Experimental Design and Optimization </li>
        <li> Model-based Experimental Design and Offline Optimization </li>
        <li> Generative models for Decision Making in Science and Biology </li>
        <li> LLMs for Decision Making in Science </li>
        <li> Causality and Causal Experimental Design </li>
      </ul>

    <p>The workshop will be held at Mackenzie Room, Jen-Hsun Huang Engineering Center at Stanford University. 
      [Directions to the Venue](https://icme.stanford.edu/sites/g/files/sbiybj17116/files/media/file/parking_and_directions_to_the_mackenzie_room_huang_building_0_0.pdf)
    </p>
    </div>


    <div class="speakers">
      <h2>Confirmed Speakers</h2>
      <p class="card-text">
      </p>
      <div class="grid">
      
        <div class="grid-item">
          <div class="card hoverable">


            <img src="/assets/resized/BakerDavid_800.jpeg"
              srcset="    /assets/resized/BakerDavid_480.jpeg 480w,    /assets/resized/BakerDavid_800.jpeg 800w, /assets/resized/BakerDavid_1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">David Baker</h2>
              <h6 class="card-text">University of Washington
                <div class="affiliate">


                  <a href="https://scholar.google.com/citations?hl=en&user=UKqIqRsAAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://www.ipd.uw.edu/david-baker/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">


            <img src="/assets/resized/jure_800.jpeg"
              srcset="    /assets/resized/jure_480.jpeg 480w,    /assets/resized/jure_800.jpeg 800w, /assets/resized/jure_1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Jure Leskovec</h2>
              <h6 class="card-text">Stanford University
                <div class="affiliate">


                  <a href="https://scholar.google.com/citations?user=Q_kKkIUAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://cs.stanford.edu/people/jure/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">


            <img src="/assets/resized/jennifer-listgarten_800.jpeg"
              srcset="    /assets/resized/jennifer-listgarten_480.jpeg 480w,    /assets/resized/jennifer-listgarten_800.jpeg 800w, /assets/resized/jennifer-listgarten_1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Jennifer Listgarten</h2>
              <h6 class="card-text">UC Berkeley
                <div class="affiliate">


                  <a href="https://scholar.google.com/citations?user=jhPhgf4AAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="http://www.jennifer.listgarten.com/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/andreas-krause_800.png"
              srcset="    /assets/resized/andreas-krause_480.png 480w,    /assets/resized/andreas-krause_800.png 800w, /assets/resized/andreas-krause_1400.png 1400w">

            <div class="card-body">
              <h2 class="card-title">Andreas Krause</h2>
              <h6 class="card-text">ETH Zurich
                <div class="affiliate">


                  <a href="https://scholar.google.com/citations?user=eDHv58AAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://las.inf.ethz.ch/krausea" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">


            <img src="/assets/resized/chayes_800.jpeg"
              srcset="    /assets/resized/chayes_480.jpeg 480w,    /assets/resized/chayes_800.jpeg 800w, /assets/resized/chayes_1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Jennifer Chayes</h2>
              <h6 class="card-text">UC Berkeley
                <div class="affiliate">


                  <a href="https://scholar.google.com/citations?user=YAHWbtkAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://cdss.berkeley.edu/people/jennifer-chayes" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/aaronn_800.jpeg"
              srcset="    /assets/resized/aaronn_480.jpeg 480w, /assets/resized/aaronn_800.jpeg 800w,    /assets/resized/aaronn_1400.jpeg 1400w,">

            <div class="card-body">
              <h2 class="card-title">Aaron Streets</h2>
              <h6 class="card-text">UC Berkeley
                <div class="affiliate">


                  <a href="https://scholar.google.com/citations?user=0EsT6kUAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://vcresearch.berkeley.edu/faculty/aaron-streets" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/yue_800.jpeg"
              srcset="    /assets/resized/yue_480.jpeg 480w,    /assets/resized/yue_800.jpg 800w, /assets/resized/yue_1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Yisong Yue</h2>
              <h6 class="card-text">Caltech
                <div class="affiliate">

                  <a href="https://scholar.google.com/citations?user=tEk4qo8AAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="http://www.yisongyue.com/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/ashia_800.png"
              srcset="    /assets/resized/ashia_480.png 480w,    /assets/resized/ashia_800.png 800w, /assets/resized/ashia_1400.png 1400w">

            <div class="card-body">
              <h2 class="card-title">Ashia Wilson</h2>
              <h6 class="card-text">MIT
                <div class="affiliate">

                  <a href="https://scholar.google.com/citations?user=sV61CtsAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://www.ashiawilson.com/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/Cho_Kyunghyun_800.jpeg"
              srcset="    /assets/resized/Cho_Kyunghyun_480.jpeg 480w,    /assets/resized/Cho_Kyunghyun_800.jpeg 800w, /assets/resized/Cho_Kyunghyun_1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Kyunghyun Cho</h2>
              <h6 class="card-text">NYU and Genentech
                <div class="affiliate">


                  <a href="https://scholar.google.co.uk/citations?user=0RAmmIAAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>

                    <a href="https://kyunghyuncho.me/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>


                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/stefano_800.jpeg"
              srcset="    /assets/resized/stefano_480.jpeg 480w,    /assets/resized/stefano_800.jpeg 800w, /assets/resized/stefano_1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Stefano Ermon</h2>
              <h6 class="card-text">Stanford University
                <div class="affiliate">


                  <a href="https://scholar.google.com/citations?user=ogXTOZ4AAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>

                    <a href="https://cs.stanford.edu/~ermon/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/brian-trippe_480.jpeg"
            srcset="/assets/resized/brian-trippe_480.jpeg 480w, /assets/resized/brian-trippe_800.jpeg 800w, /assets/resized/brian-trippe_1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Brian Trippe</h2>
              <h6 class="card-text">Stanford University
                <div class="affiliate">


                  <a href="https://scholar.google.com/citations?user=UBrbfSwAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>

                    <a href="https://statistics.stanford.edu/people/brian-trippe" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>


                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>



    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">


                  <img src="/assets/resized/syrine_480.jpeg"
                    srcset="/assets/resized/syrine_480.jpeg 480w, /assets/resized/syrine_800.jpeg 800w, /assets/resized/syrine_1400.jpeg 1400w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Syrine Belakaria
                    </h4>

                    <h6 class="card-text">Stanford University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?hl=en&user=9NNlVb8AAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.sbelakaria.com//" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/yashas_480.jpeg"
                    srcset="/assets/resized/yashas_480.jpeg 480w, /assets/resized/yashas_800.jpeg 800w, /assets/resized/yashas_1400.jpeg 1400w">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Yashas Annadani
                    </h4>

                    <h6 class="card-text">Helmholtz Munich and TU Munich
                    </h6>

                    <div class="row ml-1 mr-1 p-0">



                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=ExgzcVMAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://yashasannadani.com/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/resized/brian-trippe_480.jpeg"
                  srcset="/assets/resized/brian-trippe_480.jpeg 480w, /assets/resized/brian-trippe_800.jpeg 800w, /assets/resized/brian-trippe_1400.jpeg 1400w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Brian Trippe
                    </h4>

                    <h6 class="card-text">Stanford University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=UBrbfSwAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://statistics.stanford.edu/people/brian-trippe" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/resized/stefan-bauer_480.jpeg"
                  srcset="/assets/resized/stefan-bauer_480.jpeg 480w, /assets/resized/stefan-bauer_800.jpeg 800w, /assets/resized/stefan-bauer_1400.jpeg 1400w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Stefan Bauer
                    </h4>

                    <h6 class="card-text">Helmholtz Munich and TU Munich
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=O-oICE8AAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.professoren.tum.de/en/bauer-stefan" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/barbara_480.jpeg"
                    srcset="/assets/resized/barbara_480.jpeg 480w, /assets/resized/barbara_800.jpeg 800w, /assets/resized/barbara_1400.jpeg 1400w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Barbara Engelhardt
                    </h4>

                    <h6 class="card-text">Stanford University and Gladstone
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=VEGtG7YAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://profiles.stanford.edu/barbara-engelhardt" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <h2>Sponsors</h2>
    <a href="https://cifar.ca " target="_blank"><img src="/assets/img/cifar-logo-rgb-colour.png" width="25%" ></a>
    <br><br><br>

    <h3 class="post-title"><span class="font-weight-bold">Questions</span></h3>
    Contact us at
    <a href="mailto:edai4science@gmail.com" target="_blank">edai4science@gmail.com</a>.

  </article>

</div>